* {
  box-sizing: border-box;
  margin: 0;
}

.calculator-body {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 400px;
  border: solid salmon 10px;
  background-color: wheat;
  padding: 2px;
}

.display-box {
  flex-basis: 80px;
  border: 5px black solid;
  background-color: azure;
  margin: 2px;
  align-items: flex-end;
  justify-content: end;
  padding: 10px;
  font-size: 80px;
  font-weight: bold;
}

.display-box,
.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  flex-grow: 1;
  display: flex;
}

.first,
.second,
.third,
.fourth,
.fifth {
  flex-basis: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button {
  background-color: greenyellow;
  border-radius: 10px;
  border: 3px solid brown;
  font-size: larger;
  font-weight: bolder;
}

.zero {
  flex-grow: 3;
}
