* {
  box-sizing: border-box;
  margin: 0;
}

.calculator-body {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
}

.display-box,
.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  flex-grow: 1;
  display: flex;
}

.first,
.second,
.third,
.fourth,
.fifth {
  flex-basis: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button {
  background-color: aqua;
  margin: 10px;
  border-radius: 30px;
}
